/*GENERAL */

body {
	font-family: 'Cutive Mono'; 
	font-size: 24px;
	background: url('../img/light_noise_diagonal.png') top left repeat;
    margin-top: 0;
    color: #353535;
    text-align: center;
    
}




h1 {
    font-family: FrederickatheGreat;
    font-size: 48px;
    color: #F7CA18;
    line-height: 47px;
    text-align: center; 
}

a:link, 
a:visited {
	color: #7C7C7C;
    text-decoration: none;
}
a:hover,
a:active {
	color: #353535;
    text-decoration: none;
}


/*DIVS*/

#left {
    height: 100vh;
  
}

#right {
    background-color: #fff;
    height: 100vh;
 
}

#image {
    margin-top: 100px;
    max-width: 350px;
    float: right;
/*     border: 1px solid red;*/
}

#text {
    vertical-align: middle;
    margin-top: 200px;

}


/*when the screen is smaller than 768*/
@media screen and ( max-width: 768px ) {
    #image {
        margin-top: 50px;
        float: none;
        margin: 0 auto;
        padding-bottom: 10px;
    }
    
    #left {
         padding-top: 50px;
    }
   

    #text {
        padding-top: 20px;
        margin-top: 0;
    }
    
    h1 {
        font-size: 1.5em;
    }
    
    #text p {
        font-size: .6em;
        padding-top: 30px;
    }

 
    
}