/* COLORS */

/*
light blue  #01B2F6;
dark blue  #2086AD;
orange     #FF7F00;
*/

/* GLOBAL STYLES */

* {
    box-sizing: border-box;
}

/*
* {
    outline: 1px solid red;
}
*/

/* TYPOGRAPHY */

body {
/*	margin-top: 50px;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    font-weight: 300;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.17px;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
}

/*USED IN THE THUMBNAILS*/
h3 {
    font-size: 1.2em;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    font-weight: 300;
    text-transform: uppercase;
    color: #FF7F00;
    text-align: center;
}

/* PERFECT DAY */

h4 {
    font-size: 2.5em;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
     text-transform: uppercase;
     color: #FF7F00;
     text-align: center;
}


/* BUTTONS */

.btn {
	padding: 14px 24px;
	border: 0 none;
	font-weight: 700;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.btn-primary {
    background-color: #FF7F00;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
	background: #E77A0E;
}
.btn-primary:active, .btn-primary.active {
	background:  #FF7F00;
	box-shadow: none;
}

.btn-primary:active:focus {
    background:  #E77A0E;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
	outline: 0 none;
   
}

.btn.round {
	border-radius: 24px;
}
.btn-lg.round {
	border-radius: 32px;
}
.btn-sm.round {
	border-radius: 14px;
}
.btn-xs.round {
	border-radius: 10px;
}


/* NAVBAR */

.navbar-brand {
    padding: 0px;
    height: 80px;

}
.navbar-brand>img {
    height: 100%;
    padding: 15px;
    width: auto;
    padding: 10px 18px;
}

.navbar-right {
    padding-top: 10px;
}

.navbar-right>li{
    font-size: .8em;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2px;
    color: #fff;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
}

.navbar-inverse {
    background-color: rgba(34, 34, 34, 0.89);
    margin-bottom: 0;
    
}

.navbar-inverse .navbar-nav>li>a{
    color:#E0D9D9;
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:active {
    color:#fff;
    border-bottom: 2px solid #01B2F6;
}

/*************** JUMBOTRON *****************/
.jumbotron h1 {
/*    padding-top: 100px;*/
    padding-bottom: 20px;
    font-size: 2.6em;
    font-weight: 300;
    letter-spacing: 0.35px;
    line-height: 60px;
    text-shadow: 1px 1px 0px rgba(0,0,0,0.7);
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    
}

.inlineEmph {
    font-style: italic;
    color: #FF7F00;
    font-weight: 400;
}

.inlineBold {
    font-weight: 600;
    font-size: 1.4em;
    text-shadow: 2px 2px 0px rgba(0,0,0,0.7);
}

.jumbotron {
    background:linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../img/hero.jpg');
    color: #fff;
     -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    min-height: 600px;
    margin-top: -80px; 
    margin-bottom: 0px;
}

#jumboContent {
    padding-top: 200px;
}

.jumbotron a{
    font-size: .6em;
    margin-top: 40px;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
}

.blueBar {
    background-color: #01B2F6;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fff;
    text-align: left; 
}

.blueBar h2 {
    font-size: 2.4em;
    text-shadow: 2px 2px 0px #2086AD; 
    padding-bottom: 15px;
    margin-bottom: 0;
    letter-spacing: .5px;
 

}



/***  SLIDER  ***/

.slider-size {
    height: 500px; /* This is your slider height */
}
.carousel {
    width:100%; 
    z-index: 1;
    margin:0 auto; /* center your carousel if other than 100% */ 
}

.carousel-caption {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    right: 0;
    bottom: 0px;
    left: 0;
    z-index: 10;
    padding-top: 0;
    padding-bottom: 10px;
    color: #fff;
    text-align: left;
    padding-left: 5%;
    padding-right: 10%
}

.slider h3 {
    font-size: 1.3em;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    text-align: left;
    padding-right: 5%;
}

/*******PERFECT DAY SECTION**********/

.perfectDay {
    padding-top: 100px;
    padding-bottom: 150px;
}

.perfectDay h4 {
    padding-bottom: 50px;
}

.thumbnail {
    background-color: transparent;

}

.perfectDay h3 {
     font-weight: 700;
}

.thumbnail p {
    color: #fff;
    padding-top: 40px;
}

.thumbnail h4 {
    color: #fff;
    text-transform: uppercase;
}


.thumbnail {
    position:relative;
    overflow:hidden;
}
 
.caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(255, 127, 0, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    display: none;
    text-align:center;
    color:#fff !important;
    z-index:2;
}

.caption p{
    text-shadow: .5px .5px 0px #2F3942;
}

/******* TOURNAMENT STATIC**********/

.tournament_static {
    background:linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../img/tournaments.jpg');
    color: #fff;
     -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    min-height: 400px; 

}

#tournament-heading {
    font-size: 2.4em;
    color: rgba(255,255,255,0.8);
    margin-top: 125px;
    text-align: left; 
    padding-left: 15px;
   
}


#tournament-text{
    padding-bottom: 40px;
}

#shadow {
    background-color: rgba(0, 0, 0, 0.5);
/*    padding: 30px;*/
    text-align: right;
    min-height: 400px;
    padding-top: 140px;
    padding-right: 40px;
    outline: 1px solid red;
}



/*******UPCOMING TOURNAMENTS**********/

.upcoming {
    background-color:  #FF7F00;
    color: #fff;
    padding-top: 80px;
    padding-bottom: 80px;
}

.upcoming hr {
    max-width: 80px;
}



/******* TESTIMONIALS **********/



.testimonials h2 {
    padding-top: 70px;
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
	 text-rendering: optimizelegibility;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
}

.testimonials {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url(../img/testimonial_bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    padding-bottom: 40px;
}

blockquote {
    font-style: italic;
    font-weight: 300;
    border-left: none;
    position: relative;
    margin-top: 40px;
    
}
cite {
    font-style: normal;
    font-size: 80%;
    display: block;
    

}

blockquote:before {
    content:"\201C";
    font-size: 300%;
    display: block;
    position: absolute;
    top: -40px;
    left: 20px;

   
}

cite img {
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 15px;
}



.testimonials hr {
    margin-top: 40px;
    border: 0;
    border-top: 2px solid #01B2F6;
    max-width: 80px;
}

/***** FOOTER *******/

#footerBrand {
    height: 120px;
    margin-bottom: 40px;
}

#footerBrand img {
    height: 100%;
    width: auto;
}

.middleFooter {
    color: #01B2F6;
    margin-top: 50px;
    margin-bottom: 40px;
}

.bottomFooter {
    background-color: #FF7F00;
    height: 40px;
    color: #fff;
}

.bottomFooter p {
    padding-top: 10px;
    font-weight: 700;
    
}

.badge.social {
	background: #01B2F6;
	font-size: .6em;
	height: 23px;
	width: 23px;
	text-align: center;
	line-height: 26px;
    margin-bottom: 5px;
	padding: 0;
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	color: #ffffff;

}

.blueBarFooter {
    background-color: #01B2F6;
    padding-top: 50px;
    padding-bottom: 60px;
    color: #fff;
    text-align: center; 
}

.blueBarFooter h2 {
    font-size: 2em;
    text-shadow: 2px 2px 0px #2086AD; 
    padding-bottom: 15px;
    margin-bottom: 0;

}

/*****  MEDIA QUERIES ********/

/*when the screen is smaller than 768*/
@media screen and ( max-width: 768px ) {
    .navbar-right>li:hover{
        background-color: #01B2F6;
    }
    
    h1 {
        font-size: 1em;
    }
    
}

/*when the screen is smaller than 991px*/
@media screen and ( max-width : 991px ) {
    .navbar-right>li{
        font-size: .6em;
    }
    
    .jumbotron {
        margin-top: 0px;
        background-attachment: fixed;
        max-height: 250px;
    }
    
    #jumboContent {
        padding-top: 10px;
        font-size: .9em;
}
    
    .blueBar h2 {
        font-size: 1.8em;
    }
    
    .blueBar {
        padding: 4%;
    }
    
    .thumbnail p {
        padding-top: 200px;
        padding-left: 20%;
        padding-right: 20%;
    }
    
     #footerBrand img{
       height: 80%;

    }
    

}

/*when the screen is smaller than 700*/
@media screen and ( max-width: 700px ) {
   .thumbnail p {
        padding-top: 80px;
        padding-left: 20%;
        padding-right: 20%;
       font-size: .8em;
    }
    
}

/*when the screen is smaller than 768*/
@media screen and ( max-width: 768px ) {
    .navbar-right>li:hover{
        background-color: #01B2F6;
    }
    
    .perfectDay {
        padding-bottom: 50px;
        padding-top: 35px;
    }
    
    .bottomFooter p {
        font-weight: 600;
        font-size: 80%

    }
    
}

/*when the screen is larger than 991px*/
@media screen and ( min-width : 991px) {
     .thumbnail p {
        padding-top: 10px;
        padding-left: 20%;
        padding-right: 20%;
       font-size: .8em;
    }

}

/*when the screen is larger than 1068px*/
@media screen and ( min-width : 1068px) {
     
    .perfectDay h3 {
        font-size: 90%;
        font-weight: 700;
    }

}
