
/* GLOBAL STYLES */

body {
	font-size: 18px;
	color: #B64926;
	font-weight: 700;
	font-family: 'Libre Baskerville', serif;
	background-color: #F9F1DC;
	width: 100vw;
	height: 50vw;

}

h1{
	font-size: 16px;
	font-weight: bold;

}

/* CONTENT ELEMENTS */

#map {
	height: 100vh;
}


#list-header {
	background-color: #B64926;
	color: #F9F1DC;
}

.search-bar {
	padding: 10px;
}


#search {
	color: dimgray;
	font-size: 12px;
}

/* NAV */

.navbar-default .navbar-toggle .icon-bar {
	background-color: #F9F1DC;
}


h1 {
	margin-top: 0;
	margin-bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
}

.navbar-default {
	border: 0 !important;
	box-shadow: none !important;
	-webkit-box-shadow: none !important;
}

#list-name {
	padding-left: 10px;
}

.navbar-header {
	background-color: #B64926;
	color: antiquewhite;
}

.navbar-default .navbar-brand {
	color: antiquewhite;
	text-decoration: none;
}

.sidebar-nav {
	padding-top: 50px;
}

.sidebar-nav .navbar .navbar-collapse {
	background-color: #F9F1DC;
}

/* MEDIA QUERIES */
@media (min-width: 768px) {


	.sidebar-nav .navbar .navbar-collapse {
	padding: 0;
	max-height: none;
}
	.sidebar-nav .navbar ul {
	float: none;
}
	.sidebar-nav .navbar ul:not {
	display: block;
}
	.sidebar-nav .navbar li {
	float: none;
	display: block;
}
	.sidebar-nav .navbar li a {
	padding-top: 12px;
	padding-bottom: 12px;
	}

}


